<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jawnnypoo.openmeh"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Notification stuff -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Gotta remove the other registration so that it does not override our own -->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"
            tools:node="remove"/>

        <meta-data
            android:name="com.jawnnypoo.openmeh.util.SpecificOkHttpGlideModule"
            android:value="GlideModule"/>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="${fabric_key}"/>

        <activity
            android:name=".activity.MehActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NotificationActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity
            android:name=".activity.FullScreenImageViewerActivity"
            android:theme="@style/Activity.Translucent.FullScreenImageViewer"/>

        <service android:name=".service.PostReminderService"/>

        <service android:name=".service.MobileWearableListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>